<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container-fluid align-self-end">
    <p-panel header="Получение данных из Мобильной карты">
        <p-tabView>
            <p-tabPanel header="АЗС">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <p-button (onClick)="getAzsList($event)"
                              class="col-sm-2"
                              label="Список АЗС"
                              style="padding-left: 20px"
                              styleClass="ui-button-success"></p-button>
                </div>

                <p-table (onRowSelect)="onRowSelect($event)"
                         [(selection)]="selectedAzs" [paginator]="true"
                         [responsive]="true"
                         [rowsPerPageOptions]="[5,10,20,50]"
                         [rows]="5"
                         [value]="azsList"
                         *ngIf="azsList"
                         dataKey="id"
                         selectionMode="single"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col-sm">ID</th>
                            <th scope="col-sm">Номер АЗС</th>
                        </tr>
                    </ng-template>
                    <ng-template let-azs let-rowIndex="ID" pTemplate="body">
                        <tr [pSelectableRow]="dt">
                            <td>{{azs.id}}</td>
                            <td>{{azs.number}}</td>
                        </tr>
                    </ng-template>
                </p-table>



            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>