<!--<H1>Уже почти сейчас!</H1>-->

<p-panel header="Получение данных из CRM Siebel">
    <p-tabView>
        <p-tabPanel header="АЗС">
<p-button (onClick)="stationList($event)"
          class="col-sm-2"
          label="Список АЗС"
          style="padding-left: 20px"
          styleClass="ui-button-success"></p-button>

<p-button (onClick)="stationDetailsList($event)"
          class="col-sm-2"
          label="Детальный список АЗС"
          style="padding-left: 20px"
          styleClass="ui-button-success"></p-button>

<!--<p-button (onClick)="details($event)"-->
          <!--class="col-sm-2"-->
          <!--label="Получение деталей"-->
          <!--style="padding-left: 20px"-->
          <!--styleClass="ui-button-success"></p-button>-->

<p-table [value]="azsList?.data"
         [paginator]="true" [rows]="5"
         [rowsPerPageOptions]="[5,10,20,50]"
         [responsive]="true"
         selectionMode="single"
         [(selection)]="selectedAzs"
         (onRowSelect)="onRowSelect($event)"
         dataKey="ID"
>
    <ng-template pTemplate="header">
        <tr>
            <th scope="col-sm">ID</th>
            <th scope="col-sm">ContractName</th>
            <th scope="col-sm">ContractNumber</th>
            <th scope="col-sm">RegionCode</th>
            <th scope="col-sm">AddInfo03</th>
            <th scope="col-sm">TrCountry</th>
            <th scope="col-sm">FLTCards</th>
            <th scope="col-sm">LTYCards</th>
            <th scope="col-sm">GPBCards</th>
            <th scope="col-sm">Region</th>
            <th scope="col-sm">Детально</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dt let-rowIndex="ID">
        <tr [pSelectableRow]="dt">
            <td>{{dt.ID}} </td>
            <td>{{dt.ContractName}}</td>
            <td>{{dt.ContractNumber}}</td>
            <td>{{dt.RegionCode}}</td>
            <td>{{dt.AddInfo03}}</td>
            <td>{{dt.TrCountry}}</td>
            <td>{{dt.FLTCards}}</td>
            <td>{{dt.LTYCards}}</td>
            <td>{{dt.GPBCards}}</td>
            <td>{{dt.Region}}</td>
            <td>
                <div class="row">
                    <p-button style="padding-left: 10px" icon="pi pi-question" (onClick)="onRowButton(dt)"></p-button>
                    <p-button style="padding-left: 10px" icon="pi pi-search" (onClick)="onRowButtonMap(dt)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Детальная информация по АЗС"
          [(visible)]="azsDialogVisible"
          positionTop="50">

    <table *ngIf="azsDetails" class="table">
        <tbody>
        <tr>
            <td>ID WAY4</td>
            <td>{{azsDetails.data.ID}}</td>
            <td>ID Siebel</td>
            <td>{{azsDetails.data.SiebelID}}</td>
        </tr>
        <tr>
            <td>Номер АЗС</td>
            <td>{{azsDetails.data.GasStationNum}}</td>
            <td>Наименование</td>
            <td>{{azsDetails.data.Name}}</td>
        </tr>
        <tr>
            <td>Брэнд</td>
            <td>{{azsDetails.data.Brand}}</td>
        </tr>
        <tr>
            <td>Дата открытия</td>
            <td>{{azsDetails.data.OpenDate}}</td>
            <td>Дата закрытия</td>
            <td>{{azsDetails.data.CloseDate}}</td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>{{azsDetails.data.Status}}</td>
            <td>Тип принадлежности</td>
            <td>{{azsDetails.data.OwnType}}</td>
        </tr>
        <tr>
            <td>Партнер</td>
            <td>{{azsDetails.data.Partner}}</td>
            <td>Тип местоположения</td>
            <td>{{azsDetails.data.LocationType}}</td>
        </tr>
        <tr>
            <td>Широта</td>
            <td>{{azsDetails.data.Latitude}}</td>
            <td>Долгота</td>
            <td>{{azsDetails.data.Longitude}}</td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>{{azsDetails.data.Country}}, {{azsDetails.data.Region}}, {{azsDetails.data.City}},
                {{azsDetails.data.Street}}, {{azsDetails.data.House}}, {{azsDetails.data.Building}}</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>{{azsDetails.data.Phone}}</td>
            <td>Факс</td>
            <td>{{azsDetails.data.Fax}}</td>
        </tr>
        <tr>
            <td>Принадлежность АЗС</td>
            <td>{{azsDetails.data.ITSCGSBelongsTo}}</td>
            <td>Тип АЗС</td>
            <td>{{azsDetails.data.AddInfo03}}</td>
        </tr>
        <tr>
            <td>Отделение ГПН</td>
            <td>{{azsDetails.data.ITSCSecessionGPN}}</td>
        </tr>
        </tbody>
    </table>

    <p-checkbox
                label="Приём топливных карт"
                disabled="true"
                [(ngModel)]="fuelCardsAvailable"
                binary="true"></p-checkbox>
    <p-checkbox
            label="Приём карт лояльности"
            disabled="true"
            [(ngModel)]="loyalCardsAvailable"
            binary="true"></p-checkbox>
    <p-checkbox
            label="Приём банковских карт"
            disabled="true"
            [(ngModel)]="bankCardsAvailable"
            binary="true"></p-checkbox>

    <label class="control-label col-sm-2">Трассы: {{azsDetails.data.}}</label>
</p-dialog>


<p-dialog header="АЗС на карте"
          [(visible)]="gMapDialogVisible"
          positionTop="50">
    <p-gmap [options]="options"
            [style]="{'width':'640px','height':'640px'}"
            [overlays]="overlays"></p-gmap>
</p-dialog>

        </p-tabPanel>
    </p-tabView>
</p-panel>


