#esb-header {
  text-align: left;
  color: #0079c1;
}

#canvas {
  border: 1px solid black;
  position: absolute;
  z-index: 10000;
}


#flake {
  color: #fff;
  position: absolute;
  font-size: 25px;
  top: -50px;
}
